.form_container {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6A5959;
}
.loginForm {
  display: flex;
  min-width: 360px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.title {
  font-size: 25px;
  padding: 5px;
  border-bottom: 5px solid #C50406;
  position: relative;
  color: #4f4141;
}
.title::before {
  content: "";
  width: 300px;
  height: 1px;
  background-color: #6A5959;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);

}
.greet {
  font-size: 20px;
}
.ip {
  margin: 5px 0;
  width: 250px;
  border: 1px solid #6A5959;
  height: 35px;
  border-radius: 2px;
  padding-left: 10px;
}
.errorMsg{
  color: #C50406;
  border-bottom: 1px solid #C50406;
}
.submit_button {
  width: 262px;
  padding: 10px 0;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 10px;
}

.hint {
  margin: 15px;
}

.switchlink {
  cursor: pointer;
  text-decoration: #6A5959;
}
.switchlink:hover {
  color: #222;
  border-bottom: 1px solid #222;
}

.googleLogin{
  width: 262px;
  padding: 10px 0;
  background-color: #DD4D3F;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 5px;
  font-size: 14px;
}