.reset_btn {
  align-self: center;
  width: 100px;
  padding: 10px;
  border: 1px solid #222;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  margin: 5px;
}
.menuBar {
  font-size: 22px;
  color: #6A5959;
  margin: 30px 0;
  border-bottom: 1px solid #6A5959;
  overflow: hidden;
}
.barTitle {
  text-align: center;
  width: 120px;
  padding: 10px 0;
  border-bottom: 5px solid #C50406;
}
.sectionTitle {
  color: #6A5959;
  font-size: 22px;
  padding: 10px;
  margin: 40px 0;
  border-radius: 2px;
}

.itemCard{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  cursor: pointer;
}
.itemImg {
  align-self: center;
}
.itemName{
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
.itemPrice {
  margin: 5px;
}

.bottomOuter {
  background-color: #E1DDDD;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.bottomBar {
  height: 70px;
  width: 1100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.cartIcon {
  font-size: 40px;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  color: #222;
}

.itemCount {
  font-size: 20px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #FFBB0F;
  border-radius: 50px;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.checkCart {
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  background-color: #FFBB0F;
  color: #222;
  cursor: pointer;
}
.itemTotal {
  margin-left: 60px;
  font-size: 28px;
}
@media screen and (max-width: 1600px) {
  .bottomBar {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .bottomBar {
    max-width: 580px;
     min-width: 340px;
  }
}