.orderTitle {
  color: #6A5959;
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
}
.orderForm {
  color: #222;
  font-weight: 400;
  padding: 10px;
  font-size: 18px;
}
h3 {
  font-weight: 400;
  color: #6A5959;
}
.radioStyle {
  width: 1.5em;
  height: 1.5em;
  background: #C50406;
}
.oneOption {
  display: flex;
  align-items: center;
  padding: 10px;
}
.labelStyle {
  padding: 5px;
}
.orderCart {
  min-width: 800px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 390px;
}
.orderInfo {
  padding: 10px;
  margin: 5px;
  color: #6A5959;
  border-bottom: 1px solid #D8D8D8;
}
.orderMainTitle {
  font-size: 20px;
}
.orderQuantity {
  float: right;
  padding: 0 10px;
}
.orderMealTotal{
  font-size: 22px;
}
.orderTotal {
  color: #6A5959;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
}
.orderBottomBtn {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.orderBtn {
  cursor: pointer;
  background-color: #FFBB0F;
  border: 1px solid #FFBB0F;
  border-radius: 2px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 100px;
}
.backToCartBtn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 2px;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
}


@media screen and (max-width: 1200px) {
  .orderCart {
    min-width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .orderCart {
    min-width: 450px;
    height: 350px;
  }
  .orderBtn {
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .orderCart {
    min-width: 280px;
    height: 300px;
  }
  .orderBtn {
    margin-left: 20px;
  }
}